version: 2

# *****************
# Jobs
# *****************

jobs:

  # website
  website:
    docker: 
      - image: coxy1989/pandoc-aws
    steps:
      - checkout
      - run:
          name: Convert markdown to html
          command: (cd md ; bash _convert_markdown_to_html.sh)
      - run:
          name: Upload to s3
          command: aws s3 cp site s3://bucket-host-website  --recursive


# *****************
# Workflows
# *****************

workflows:
  version: 2
  master:
    jobs:

      # website
      - website:
          filters:
            branches:
              only:
                - master

